{% extends 'base.html.twig' %}

{% block title %}Cartes index{% endblock %}

{% block body %}
    <h1>Cartes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Date_creation</th>
                <th>Date_fin</th>
                <th>Date_fin_prevu</th>
                <th>Cloture</th>
                <th>Fichier</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carte in cartes %}
            <tr>
                <td>{{ carte.id }}</td>
                <td>{{ carte.titre }}</td>
                <td>{{ carte.dateCreation ? carte.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ carte.dateFin ? carte.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ carte.dateFinPrevu ? carte.dateFinPrevu|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ carte.cloture ? 'Yes' : 'No' }}</td>
                <td>{{ carte.fichier }}</td>
                <td>{{ carte.description }}</td>
                <td>
                    <a href="{{ path('app_cartes_show', {'id': carte.id}) }}">show</a>
                    <a href="{{ path('app_cartes_edit', {'id': carte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cartes_new') }}">Create new</a>
{% endblock %}
